ul {
    list-style-type: none;
    width: 400px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}

li {
    border-top: 1px solid #ebebeb;
    height: 50px;
}