ul {
    list-style-type: none;
    width: 400px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}

li {
    border-top: 1px solid #ebebeb;
    height: 50px;
    position: relative;
}

#add-task {
    width: 335px;
    height: 100%;
    border: 0;
    padding: 0 50px 0 15px;
    background-color: #ebebeb;
    font-style: italic;
}

#add-task:focus {
    outline: none;  
}

#add-button {
    position: absolute;
    right: 0;
    border: 0;
    width: 50px;
    height: 100%;
    background-color: #ebebeb;
}
